<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticker</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="/icons/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/ticker.css"/>
</head>
<body>
<div id="scroll-container">
    <span id="scroll-text">Loading...</span>
</div>
<script src="/js/ticker.js"></script>
</body>
</html>
